@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: aliceblue;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: darkgray;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(77, 77, 77);
}

section {
    width: 100%;
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("qwe.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100%;
}
.main::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: linear-gradient(135deg, rgb(77, 77, 77), transparent 77%);
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 50;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    color: rgb(19, 18, 18);
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.projects-btn {
    color: #fff;
    background-color: darkgray;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

.projects-btn:hover {
    background-color: gray;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: gray;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: gray;
    font-size: 8em;
    text-align: center;
}

.info h3 {
    color: gray;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info {
    text-align: center;
}

.projects {
    background-color: rgb(15, 13, 13);
}

.projects .conract {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.project-card {
    background-color: rgb(168, 166, 161);
    border: 1px solid rgb(168, 166, 161);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-cat {
    font-size: 0.8em;
    color: #000;
}

.project-info {
    padding: 1em;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: purple;
}

.more-details:hover {
    color: blue;
}

address {
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

.h {
    color: aliceblue;
    padding-right: 20px;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
}

.socialmedia a {
    display: flex;
    color: #fff;
    font-size: 1.7em;
    text-decoration: none;
    padding-right: 30px;
}

.socialmedia a {
    align-self: center;
}

.cards-transform {
    width: 21.25em;
    height: 21.25em;
    padding: 0%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cards-transform:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front,
.back {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    display: table-row;
}

.back {
    transform: rotateY(180deg);
    background: #fff;
}

.iimg {
    margin: 20px;
    position: absolute;
    left: 15%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
}

.back h2 {
    position: absolute;
    left: 15%;
    top: 70%;
    text-align: center;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation {
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
    .iimg{
        width: 150px;
        height: 150px;
    }
}

@media(max-width:641px) {
    body {
        font-size: 12px;
    }
    .logo {
        font-size: 1.3em;
    }
    .navigation a {
        font-size: 1.1em;
    }
    address a {
        font-size: 1.3em;
    }
    address {
        padding: 10px 20px;
        grid-gap: 10px;
        align-items: center;
        flex-direction: column;
    }
    address a {
        padding-right: 15px;
    }
    .iimg{
        width: 135px;
        height: 135px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
    .logo {
        font-size: 1.3em;
    }
    address a {
        font-size: 1.2em;
    }
}
